<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		 <add name="MyDatabaseConnection" connectionString="Database=Daily_5_31_1;Server=ausdvtmszzsql12.accruentsystems.com;User Id=T3SYSTM;Password=Cuatro4!;Connection Timeout=30;pooling=false" providerName="System.Data.SqlClient" />
	</connectionStrings>	

</configuration>